@use 'variables' as *; // permite usar las variables directamente

body {
  font-family: $font-family;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

header {
  background-color: $secondary-color;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 25%;
    height: auto;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 15px;

      li {
        a {
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-color: variables.$primary-color;
  color: variables.$text-color;
}

/* Animación ejemplo */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

button {
  &:hover {
    animation: bounce 0.5s;
  }
}

