$font-family: 'Poppins', sans-serif;
$primary-color: #FFB703;     // amarillo acento
$secondary-color: #011530;   // azul header/footer
$text-color: #F5F7FA;        // blanco
$bg-color: #f3f3f3;          // gris de fondo
$muted-row: #f3f3f3;         // líneas de tabla

